# Main parent directory; used to name the backup bucket
main_dir="/home/mns/workspace/projects/ribothrypsis"
#name="main" # Name of the destination directory; can be empty or missing
# Directories of which content will be backed up
dirs=(
"data/minion"
)
# Exclude directories; relative path to $main_dir & dirs; can be empty or missing
exclude=(
"trash"
)
author="manolis"
class="GLACIER" # ["GLACIER"|"STANDARD"]
upload="cp" # ["sync"|"cp"] sync to upload only new/change files (slower but doesn't upload all) or cp to upload all the files (faster but uploads all)
logs="false" # keep AWS logs ["true"|"false"]
keep="true" # keep forever ["true"|"false"]
