# Main parent directory; used to name the backup bucket
main_dir="/home/pan.alexiou/PROJECTS/sequencing/Miwi"
#name="main" # Name of the destination directory; can be empty or missing
# Directories of which content will be backed up
dirs=(
"data"
)
# Exclude directories; relative path to $main_dir & dirs; can be empty or missing
exclude=(
"internal"
)
author="panos"
class="GLACIER" # ["GLACIER"|"STANDARD"]
upload="cp" # ["sync"|"cp"] sync to upload only new/change files (slower but doesn't upload all) or cp to upload all the files (faster but uploads all)

